@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

section .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  border: 1px solid #181a1e ;
  opacity: 1;
  background-color: #fff;
}
section .swiper-pagination-bullet-active{
  background-color: #0067ff;
  border: none;
}
section .swiper {
  padding-bottom: 50px;
}

@media (max-width: 768px){
  section .swiper-slide.swiper-slide{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 20px 30px rgba(228, 224, 224, 0.3);
  }
}
@media (min-width: 1024px){
  section .swiper-slide.swiper-slide-next{
    background-color: #0067ff;
    border-radius: 12px;
    box-shadow: 0px 20px 30px rgba(0,103,255,0.3);
  }
  section .swiper-slide.swiper-slide-next :where(h4,p){
    color: #fff;
  }
}
#shadow-host-companion{
  display: none;
}
.sticky__header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  background: white;
  box-shadow: 3px 3px -8px 3px #ddd;
}

@media screen and (max-width: 768px) {
  .navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #00000084;
    display: none;

  }
  .menu{
    width: 15rem;
    height: 100%;
    position: absolute;
    top: 0;right: 0;
    background-color: #fff;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }
  .show__menu{
    display: block;
  }
}